*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    font-family: 'Muli', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.712);
    font-family: 'Muli', sans-serif;
    color: white;
    min-height: 9vh;
    margin-bottom: 20vh;
}

nav .logo {
    font-size: 25px;
    letter-spacing: 3px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.regBtn {
    padding: 10px 15px;
    border-radius: 20px;
    background-image: linear-gradient(to right, tomato, rgb(236, 85, 110) );
}
.regBtn .rbtn {
    background-color: rgba(255, 99, 71, 0);
    border: none;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    margin: 3px;
}

.burger {
    display: none;
    width: 30px;
    cursor: pointer;
}
.burger div {
    height: 4px;
    margin: 3px;
    background-color: white;
    transition: 0.3s ease-in;
}

.home {
    background-image: url("../img/bg.jpg");
    min-height: 90vh;
    padding-top: 11vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
    color: rgb(233, 231, 231);
    font-family: 'Poppins', sans-serif;
}

.mainHeading {
    font-size: 75px;
}
.subHeading {
    font-size: 30px;
}

.time {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    padding: 10% 20%;
}
.timevalue {
    font-size: 40px;
    color: hotpink;
}
.timeparam {
    font-size: 25px;
}

.circle {
    background-color: rgb(250, 61, 156);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.container {
    background-color: rgba(216, 216, 216, 0.425);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.head {
    padding-left: 12%;
}
.head .h {
    font-size: 70px;
}
.image {
    display: flex;
    justify-content: space-around;
}
.image img {
    max-width: 400px;
}
.para {
    text-align: center;
    font-size: 20px;
}

#events {
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    color: white;
}

.slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 50px;
    list-style: none;
}
.slider .imgc img {
    width: 200px;
    height: 200px;
}
.slider .imgc {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.slider .imgc .imgtext {
    position: relative;
    background-color: rgba(44, 44, 44, 0.397);
    width: 200px;
    height: 210px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 100px;
    text-align: center;
    bottom: 210px;
}   
.largeimg {
    position: relative;
    display: none;
    left: 30%;
    max-width: 600px;
}
#imgtext {
    position: absolute;
    bottom: 15px;
    padding: 15px;
    color: white;
    font-size: 20px;
    background-color: rgba(31, 31, 31, 0.692);
  }
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgba(255, 49, 49, 0.856);
    font-size: 35px;
    z-index: 99;
    cursor: pointer;
  }

.summarise {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.summaryItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summaryItem div {
    margin: 10px 0;
}
.summaryItem .icon {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    padding-top: 7px;
}
.summaryItem .st {
    font-size: 60px;
}

#schedule {
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    color: white;
}
.schedules {
    margin-top: 20px;
    padding: 10px;
}
.day1{
    display: flex;
    margin-bottom: 20px;
}
.schedulearrowc {
    width: 25%;
    padding: 30px;
    background-color: rgb(211, 33, 122);
}
.schedulearrowc::after {
    height:50px;
    width:50px;
    background-color: blueviolet;
    position: absolute;
}
.schedule {
    padding: 15px;
    width: 75%;
    color: black;
    background-color: rgb(226, 226, 226);
}
.scheduleItem {
    margin-bottom: 20px;
}
#map {
    height: 400px;  
    width: 100%; 
}

#contact {
    padding: 50px 0 0 0;
}
.btncon {
    height: 200px;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bigbtnc {
    width: 50%;
    padding: 10px 15px;
    border-radius: 20px;
    background-image: linear-gradient(to right, tomato, rgb(236, 85, 110) );
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigbtnc .bigbtn {
    width: 100%;
    background-color: rgba(255, 99, 71, 0);
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
    margin: 3px;
}

footer {
    background-color: rgb(43, 43, 43);
    min-height: 20vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .logo {
    font-size: 25px;
    letter-spacing: 3px;
    cursor: pointer;
}
.social {
    display: flex;
    justify-content: space-around;
}
.social div {
    margin: 0 10px;
}
footer .fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}
footer .fa-facebook {
    background: #3B5998;
    color: white;
}
footer .fa-instagram {
    background: rgb(87, 59, 187);
    color: white;
}
footer .fa-twitter {
    background: #55ACEE;
    color: white;
}
footer .fa-envelope {
    background: rgb(36, 211, 173);
    color: white;
}


@media only screen and (max-width : 1024px) {
    .nav-links {
        width: 45%;
    }
    .largeimg {
        left: 0%;
    }
}

@media only screen and (max-width : 768px) {
    nav .logo {
        font-size: 18px;
    }
    .regBtn .rbtn {
        font-size: 11px;
    }
    .nav-links {
        top: 9vh;
        height: 91vh;
        right: 0;
        position: fixed;
        flex-direction: column;
        width: 40%;
        align-items: center;
        background-color: rgba(37, 37, 37, 0.815);
        transform: translateX(100%);
        transition: 0.3s ease-in;
        margin-bottom: 4vh;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }

    .mainHeading {
        font-size: 50px;
    }
    .subHeading {
        font-size: 30px;
    }

    .timevalue {
        font-size: 35px;
    }
    .timeparam {
        font-size: 12px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .head {
        padding-left: 20px;
    }
    .head .h {
        font-size: 50px;
    }
    .image img{
        width: 100%;
    }
    #imgtext {
        font-size: 15px;
    }

    .day1{
        flex-direction: column;
    }
    .schedulearrowc, .schedule {
        width: 100%;
    }
    .summarise {
        flex-direction: column;
    }
    .btncon {
        height: 200px;
    }
    .bigbtnc .bigbtn {
        font-size: 14px;
    }
}

.nav-open {
    transform: translateX(0%);
}

.burger.active .line1 {
    transform: rotate(45deg) translate(5px,5px);
}
.burger.active .line2 {
    opacity: 0;
}
.burger.active .line3 {
    transform: rotate(-45deg) translate(5px,-5px);
}

@media only screen and (max-width : 300px) {
    nav .logo {
        font-size: 10px;
    }
}

@keyframes navSlide {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}